@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <br />

    <p>Pine Valley Furniture is a family-owned and operated business that has been providing high-quality furniture to customers for over 50 years. Our commitment to quality, craftsmanship, and exceptional customer service sets us apart from other furniture companies. We offer a wide range of furniture styles and designs to suit every taste and budget, and we take pride in the durability of our products.</p>
</main>