@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Shashidhar      |    ShashidharKalapatapu@my.unt.edu <br />
        Sindhu          |    SindhuKandimalla@my.unt.edu <br />
        Vivek           |    VivekanandaReddyRaikanti@my.unt.edu <br />
        Nikhil          |    NikhilKumarNyalam@my.unt.edu <br />
        Vikranth        |    VikranthPulahari@my.unt.edu <br />
        Vinod           |    VinodReddySagam@my.unt.edu <br />
        Pavan           |    PavanKrishnaYarlagadda@my.unt.edu <br />
        Varsha          |    VarshaChowdaryYarragunta@my.unt.edu <br />
    </address>

</main>